<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detail - Skiweltcup-Gewinner</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="styleSEM.css" rel="stylesheet" type="text/css">
</head>
<body>
	<h1>Detailinfos</h1>
    <p th:text="${detail}" />
	<div th:if="${result != null}">
    	<table>
    		<tr th:each="item : ${result}">
    			<td th:text="${item}"></td>
    		</tr>
    	</table>
 	</div>
 	<div th:if="${resultLinks != null}">
    	<table>
    		<tr th:each="item : ${resultLinks}">
    			<td><a th:href="${item}"><p th:text="${item}" /></a></td>
    		</tr>
    	</table>
 	</div>  
 	<div>
 		<p>
 		  <a href="/index">Zur&uuml;ck zur &Uuml;bersicht</a>
 		</p>
 	</div>
</body>
</html>