<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detail - Skiweltcup-Gewinner</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="${detail} + '!'" />
	<!-- <div th:if="${result != null}">
    	<h1>&Ouml;sterreichische Ski-Weltcup Gewinner - Detail</h1>
    	<table>
    		<tr th:each="item : ${result}">
    			<td th:text="${item}"></td>
    			<td><a href="">Details anzeigen...</a></td>
    		</tr>
    	</table>
 	</div> -->   
 	<div>
 		<p>
 		  <a href="/index">Zur&uuml;ck zur &Uuml;bersicht</a>
 		</p>
 	</div>
</body>
</html>