<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Eingabe - Skiweltcup-Gewinner</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<form action="#" th:action="@{/form}" th:object="${skiDataForm}"
		method="post">
		<table>
			<tr>
				<td>Name:</td>
				<td><input type="text" th:field="*{name}" /></td>
				<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name
					Error</td>
			</tr>

			<select>
				<option value="hatGewonnen">hatGewonnen</option>
				<option value="hatStattgefunden">hatStattgefunden</option>
			</select>


			<tr>
				<td>Weltcup:</td>
				<td><input type="text" th:field="*{weltCup}" /></td>
				<td th:if="${#fields.hasErrors('weltCup')}" th:errors="*{weltCup}">WC
					Error</td>
			</tr>


			<tr>
				<td><button type="submit">Submit</button></td>
			</tr>
		</table>
	</form>
	<div>
		<p>
			<a href="/index">Zur&uuml;ck zur &Uuml;bersicht</a>
		</p>
	</div>
</body>
</html>