<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="${result} + '!'" />
    
    <table>
	    <tr>
	    	<th>Name</th>
	    <tr>
	    <tr>
	    	<td>Marcel Hirscher </td>
	    </tr>
	    <tr>
	    	<td>Gerhard Nenning </td>
	    </tr>
	    <tr>
	    	<td>Karl Schranz</td>
	    </tr>
	    <tr>
	    	<td>Alfred Matt</td>
	    </tr>
	    <tr>
	    	<td>Karl Cordin</td>
	    </tr>
	    <tr>
	    	<td>Hansi Hinterseer</td>
	    </tr>
	    <tr>
	    	<td>Franz Klammer</td>
	    </tr>
	    <tr>
	    	<td>Gertrud Gabi</td>
	    </tr>
	    
    </table>
    
    
</body>
</html>