<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Skiweltcup-Gewinner</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <!-- <p th:text="${result} + '!'" />  -->
	<div th:if="${result != null}">
    	<h1>&Ouml;sterreichische Ski-Weltcup Gewinner</h1>
    	<table>
    		<tr th:each="item : ${result}">
    			<td th:text="${item}"></td>
    			<!--  <td><a th:href="@{/index/${item}}">Details anzeigen...</a></td>-->
    			<td><a th:href="@{'/index/' + ${item}}">Details anzeigen...</a></td>
    		</tr>
    	</table>
 	</div>   
 	<div>
 		<p>
 		  <a href="/form">Neuen Eintrag hinzuf&uuml;gen</a>
 		</p>
 	</div>
</body>
</html>