<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Skiweltcup-Gewinner</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="style.css" rel="stylesheet" type="text/css">
    <title>Österreichische Ski-Weltcup Gewinner</title>
</head>
<body>
	
    <!-- <p th:text="${result} + '!'" />  -->
     <div class="header_area">
	    <div class="jumbotron text-center">
	        <h1>&Ouml;sterreichische Ski-Weltcup Gewinner</h1>
	    </div>
    <div style="padding-left: 40px; padding-right: 40px;">	  
	    <ul>
	        <li><a href="/index">Home</a></li>
	        <li><a href="/form">Neuer Eintrag</a></li>
	    </ul>
	 </div>	
	 </div>
	 
    <div style="padding-left: 40px; padding-right: 80px;">	 
	<div th:if="${result != null}">  
   
    	<table>
    		<tr th:each="item : ${result}">
    			<td th:text="${item}"></td >
    			<!--  <td><a th:href="@{/index/${item}}">Details anzeigen...</a></td>-->
    			<td><a th:href="@{'/index/' + ${item}}">Details anzeigen...</a></td>
    		</tr>
    	</table>
 	</div>  
 	</div>

</body>
</html>